.nav-container {
  display: flex;
  align-items: center;
  position: absolute;
  top: 3rem;
}

.nav--hidden {
  display: none;
}

.nav {
  margin: 1em;
}

.nav__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
  gap: 1em;
}

.hamburger {
  cursor: pointer;
  font-size: 2rem;
  user-select: none;
}

.hamburger-container {
  max-width: max-content;
  line-height: 0;
  padding: 1em;
  border-radius: 100%;
  align-self: flex-start;
}

.hamburger-container:hover {
  background-color: var(--grey);
}

.top {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  text-align: center;
}
