@import url('./base.less');

// Mixins
.flex-col {
  display: flex;
  flex-direction: column;
}

.flex-col-center {
  .flex-col();
  justify-content: center;
  align-items: center;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.absolute-right {
  position: absolute;
  top: 0;
  right: 0;
}

// Nav Styles
.nav--header {
  .absolute-right();
  height: 100vh;
  min-width: max-content;
}

.nav--container {
  position: fixed;
  top: 0;
}
.nav {
  .absolute-right();
  visibility: hidden;
  opacity: 0;
  min-height: 100vh;
  padding: 5rem 1.5rem;
  min-width: max-content;
  font-size: 2rem;
  font-variant: small-caps;
  font-weight: 600;
  background-color: @grey;
  box-shadow: -0.125em 0 0.75em 0.25em @shadow-grey;
  transition: visibility 500ms;
  &__list {
    .flex-col();
    justify-content: center;
    align-items: flex-start;
    margin: 0;
    gap: 1em;
  }
}

.hamburger {
  cursor: pointer;
  font-size: 2rem;
  user-select: none;
  &:hover {
    color: @hover-white;
  }
  &--container {
    .absolute-right();
    line-height: 0;
    padding: 1em;
    border-radius: 100%;
    z-index: 3;
    transition: 0.5s ease;

    &:hover {
      background-color: @shadow-grey;
    }
  }
}

// Top section styles

.top {
  min-height: 100vh;
  .flex-center();
}

.title {
  font-size: 4rem;
  line-height: 1;
  letter-spacing: 0.1em;
  font-weight: 600;
  text-align: center;
}

.tsparticles {
  position: absolute;
  width: 100%;
  height: 100%;
}

// about section styles

.about {
  min-height: 100vh;
  .flex-center();
}

.subtitle {
  grid-column: span 2;
  text-align: center;
}

.grid-container {
  display: grid;
  grid-template-columns: 2;
  grid-template-rows: 2;
  gap: 2rem;
}

// project section styles
.projects {
  min-height: 100vh;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: minmax(min-content, 8rem) 1fr;

  &--title {
    grid-column: span 2;
  }
}

// contact section styles
.contact {
  text-align: center;
  min-height: 100vh;
  .flex-col-center();
  &--form {
    .flex-col-center();
    gap: 1.5rem;
    &--item {
      .flex-col();
      gap: 0.25rem;
    }
  }
}
