@import './base.scss';

// Mixins
@mixin flex-col {
  display: flex;
  flex-direction: column;
}

@mixin flex-col-center {
  @include flex-col;
  justify-content: center;
  align-items: center;
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin absolute-right {
  position: absolute;
  top: 0;
  right: 0;
}

// Nav Styles
.nav {
  @include absolute-right;
  height: 100vh;
  min-width: max-content;

  &--container {
    position: fixed;
    top: 0;
    z-index: 1;
  }

  &--main {
    @include absolute-right;
    visibility: hidden;
    opacity: 0;
    min-height: 100vh;
    padding: 5rem 2rem;
    min-width: max-content;
    font-size: 1.75rem;
    font-variant: small-caps;
    font-weight: 600;
    background-color: $grey;
    box-shadow: -0.125em 0 0.75em 0.25em $shadow-grey;
    transition: visibility 500ms;
    &__list {
      @include flex-col;
      justify-content: center;
      align-items: flex-start;
      margin: 0;
      gap: 1em;
    }
  }
}

.hamburger--container {
  @include absolute-right;
  line-height: 0;
  padding: 1em;
  border-radius: 100%;
  z-index: 2;
  transition: 0.5s ease;

  &:hover {
    background-color: $shadow-grey;
    color: $hover-white;
  }
}

.hamburger {
  cursor: pointer;
  font-size: 2rem;
  user-select: none;
}

// Top section styles

.top {
  min-height: 100vh;
  @include flex-center;
}

.title {
  font-size: clamp(1.75rem, 0.4375rem + 5.8333vw, 3.5rem);
  line-height: 1;
  font-weight: 600;
  text-align: center;
}

.tsparticles {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -1;
}

// about section styles

.about {
  min-height: 100vh;
  @include flex-col-center;
}

@media (min-width: 600px) {
  .about--container {
    @include flex-col-center();
    gap: 2rem;
  }
}

.subtitle {
  grid-column: span 2;
  text-align: center;
}

// project section styles
.projects {
  min-height: 100vh;

  &--title {
    text-align: center;
    margin-bottom: 3em;
  }

  &--item {
    background-color: $shadow-grey;
    padding: 1em 2em;
    margin-bottom: 3em;
    border-radius: 1em;
    grid-column: span 2;
    display: grid;
    grid-template-rows: min-content 1fr;
    grid-template-columns: 1fr 1fr;
    gap: 1em;

    h3 {
      grid-column: span 2;
    }

    img {
      width: 100%;
      align-self: center;
    }

    span {
      text-align: center;
    }
  }
}

@media (min-width: 600px) {
  .projects--container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: minmax(min-content, 8rem) 1fr;

    .projects--title {
      grid-column: span 2;
    }
  }
}

// contact section styles
.contact {
  text-align: center;
  min-height: 100vh;
  @include flex-col-center;
  &--form {
    @include flex-col-center;
    gap: 1.5rem;
    &--item {
      @include flex-col;
      gap: 0.25rem;
    }
  }
}
