@import './base.scss';

// Mixins
@mixin flex-col {
  display: flex;
  flex-direction: column;
}

@mixin flex-col-center {
  @include flex-col;
  justify-content: center;
  align-items: center;
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin absolute-left {
  position: absolute;
  top: 0;
  left: 0;
}

// general styles

.card {
  background-color: $clear-grey;
  padding: 2em 3em;
  margin-bottom: 3em;
  border-radius: 1em;
  box-shadow: 0.125em 0.125em 0.5em 0.25em $shadow-grey;
  backdrop-filter: blur(0.25em);
}

// Nav Styles
.nav {
  @include absolute-left;
  height: 100vh;
  min-width: max-content;

  &--container {
    position: fixed;
    top: 0;
    z-index: 1;
  }

  &--main {
    @include absolute-left;
    visibility: hidden;
    opacity: 0;
    min-height: 100vh;
    padding: 5rem 2rem;
    min-width: max-content;
    font-size: 1.75rem;
    font-variant: small-caps;
    font-weight: 600;
    background-color: $shadow-grey;
    backdrop-filter: blur(0.25em);

    box-shadow: 0.125em 0 0.5em 0.25em $shadow-grey;
    transition: visibility 500ms;
    &__list {
      @include flex-col;
      justify-content: center;
      align-items: flex-start;
      margin: 0;
      gap: 1em;
    }
  }
}

.hamburger--container {
  position: fixed;
  top: 0;
  left: 0;
  line-height: 0;
  padding: 1em;
  border-radius: 100%;
  z-index: 2;
  transition: 0.5s ease;

  &:hover {
    background-color: $clear-grey;
    color: $hover-white;
  }
}

.hamburger {
  cursor: pointer;
  font-size: 2rem;
  user-select: none;
}

// top section styles

.top {
  min-height: 100vh;
  @include flex-center;
}

.title {
  color: $white;
  font-size: clamp(1.75rem, 0.4375rem + 5.8333vw, 3.5rem);
  line-height: 1;
  font-weight: 600;
  text-align: center;
}

.tsparticles {
  position: fixed;
  width: 100%;
  height: 100%;
  // z-index: -1;
}

// about section styles

.about {
  min-height: 100vh;
  @include flex-col-center;
}

@media (min-width: 600px) {
  .about--container {
    @include flex-col-center;
    gap: 2rem;
  }
}

.subtitle {
  grid-column: span 2;
  text-align: center;
}

// projects section styles
.projects {
  min-height: 100vh;

  &--title {
    text-align: center;
    font-size: 1.2rem;
    margin-bottom: 3em;
  }

  &--item {
    grid-column: span 2;
    display: grid;
    grid-template-rows: min-content 1fr;
    grid-template-columns: 1fr 1fr;
    gap: 1em;

    h3 {
      grid-column: span 2;
      font-weight: 600;
      font-size: 1.5rem;
    }

    img {
      width: 100%;
      align-self: center;
    }

    span {
      text-align: center;
      font-size: 1.5rem;
    }
  }
}

@media (min-width: 600px) {
  .projects--container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: minmax(min-content, 8rem) 1fr;

    .projects--title {
      grid-column: span 2;
    }
  }
}

// contact section styles
.contact {
  text-align: center;
  min-height: 100vh;
  @include flex-col-center;
  &--form {
    @include flex-col-center;
    gap: 1.5rem;
    &--item {
      @include flex-col;
      gap: 0.25rem;
    }
  }
}
