.nav-header {
  position: absolute;
  top: 0;
  right: 0;
  min-height: 100vh;
  z-index: 2;
  width: 15%;
  min-width: min-content;
}

.nav-container {
  position: sticky;
  top: 0;
  right: 0;
}

.nav--hidden {
  display: none;
}

.nav {
  position: absolute;
  min-height: 100vh;
  padding: 5rem 1.5rem;
  width: 100%;
  font-size: 1.75rem;
  background-color: var(--purple);
}

.nav__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin: 0;
  gap: 1em;
}

.hamburger {
  position: sticky;
  top: 0;
  cursor: pointer;
  font-size: 2rem;
  user-select: none;
}

.hamburger-container {
  position: absolute;
  top: 0;
  right: 0;
  line-height: 0;
  padding: 1em;
  border-radius: 100%;
  z-index: 3;
}

.hamburger-container:hover {
  background-color: var(--grey);
  opacity: 0.7;
}

.top-container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.top {
  min-height: 100vh;
}

.title {
  text-align: center;
  color: var(--white);
}

.tsparticles {
  position: absolute;
  width: 100vw;
  height: 100vh;
}

.about {
  min-height: 100vh;
  display: flex;
  align-items: center;
}

.subtitle {
  grid-column: span 2;
  text-align: center;
}

.grid-container {
  display: grid;
  grid-template-columns: 2;
  grid-template-rows: 2;
  gap: 2rem;
}
